@tailwind base;
@tailwind components;
@tailwind utilities;

#inputSearch {
  background-color: rgb(55 65 81);
}
select {
  border: none; /* Remove a borda padrão */
  outline: none; /* Remove o contorno padrão */
}
